.navbar {
    padding: 0rem 1rem !important;
    height: 74px;
}

.dropdown-menu {
    background-color: white !important;
    width: 400px !important; /* Increase width */
    max-height: 600px !important; /* Increase max height */
    overflow-y: auto !important; /* Add scroll if content exceeds max height */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    border-radius: 5px !important;
    padding: 10px !important; /* Padding for aesthetic look */
}

.custom-dropdown-width.show {
    align-content: normal;
    width: 300px; /* Adjust the width as needed */
    left: -200px;
    right: 0px;
    margin: 1px;
}

/* Ensure dropdown items are styled correctly */
.dropdown-item {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
    font-size: 15px !important; /* Increase font size */
    line-height: 1.5 !important; /* Adjust line height */
    padding: 12px 16px !important
}

.dropdown-menu > *:not(:first-child) > *:not(:last-child) {
    border-bottom: 1px solid #ddd !important; /* Add border for separation */
}

.dropdown-item:hover {
    background-color: #f1f1f1 !important;
}

.nav-item {    
    border-radius: 10px;
}

.nav-link {
    height: 74px;
    align-items: center;
    display: flex;
}

.dropdown {
    height: 74px;
    display: flex;
    align-items: center;
}

#dropdownMenuButton {
    height: 100%;
}