.image-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    overflow: hidden;
    padding: 20px;
}

.owner-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.owner-username a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.created-date {
    color: #888;
    font-size: 0.9em;
    margin-left: auto;
}

.marker-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.marker-details {
    color: #555;
}

.marker-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.marker-latlng, .marker-description {
    font-size: 0.9em;
    margin-bottom: 5px;
}
.filter-dropdown {
    margin-bottom: 20px;
}

.filter-dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
.action-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.comment-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: black;
}

.comment-toggle img {
    margin-right: 5px;
}

.comments {
    display: none; /* Hidden by default */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 10px;
}

.comments {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.comments-container {
    margin-bottom: 10px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.created-date {
    margin-left: auto;
    text-align: right;
    font-size: 0.9em;
    color: #888;
}
.small-textarea {
    height: 50px; /* Adjust the height as needed */
    resize: none; /* Prevent resizing if desired */
}

.nav {
    width: 200px;
    height: auto;
    background-color: transparent;
    padding-top: 5px;
    flex-shrink: 0;
}
.nav .nav-link {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: floralwhite;
    background-color: #3c9e51;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}

.nav .nav-link:hover {
    background-color: #88cb97;
    color: #fff;
}

.container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.button-container button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

[type=submit], button {    
    border: none;
    background-color: #6FC081;
    color: white;
    height: 35px;
    font-weight: 500;
    align-self: center;
    border-radius: 5px;
}

[type=submit]:hover, button:hover {
    background-color: #88cb97;
    cursor: pointer;
}

.nav-link.search:hover {
    background-color: #3c9e51;
}

.input-group-prepend {
    height: 30px;
}

.filterIcon {
    display: none;
}

@media only screen and (max-width: 640px) {
    #filtersContainer {
        display: none;
    }
    
    .filterIcon {
        position: sticky;
        margin: 10px;
        display: flex;
        padding: 10px;
        background-color: #3c9e51;
        width: fit-content;
        border-radius: 100%;
    }

    .filterIcon:hover {
        background-color: #88cb97;
        cursor: pointer;
    }

    .nav {
        width: -webkit-fill-available !important;
        margin: 10px;
    }
    
    .wrapper {
        height: calc(100vh - 108px) !important;
        flex-direction: column;
    }

    .postSearch {
        display: flex;
        height: 30px;
        gap: 5px;
        width: 100%;
    }

    .search-container input[type="text"] {
        height: 100%;
        margin: 0px;
    }

    .container {
        padding-top: 0px !important;
    }
}