html{
    background-color: #3C9E51;
}

.groupLink {
    background-color: #3c9e51;
}

.addLink {
    background-color: #3c9e51;
}

.mobile {
    display: none !important;
}

.desktop{
    display: flex;
}

.groupDetails {
    background: #ffffff;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.groupTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #3C9E51;
}
.groupCategory, .groupDescription {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}


.deleteOption{
    background-color: red;
    margin: auto;
    border-radius: 25px;
    display: block;
    margin-top: 10px;
    text-align: center;
}
.editOption {
    margin: auto;
    border-radius: 25px;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.joinOption{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px
}

.mainContainer{
    background-color: #3C9E51;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top:20px;
}

.members{

    background-color: white;
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 25px;
    margin-right: 20px;
}

.posts{
    background-color: #6FC081;
    display: inline-block;
    width: 75%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;

}
.posts h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #3C9E51;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.posts h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #3C9E51;
    margin: 10px auto 0;
    border-radius: 2px;
}


.container {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }

.image-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    overflow: hidden;
    padding: 20px;
}

.owner-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.owner-username a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.created-date {
    color: #888;
    font-size: 0.9em;
    margin-left: auto;
}

.marker-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.marker-details {
    color: #555;
}

.marker-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.marker-description {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.comment-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: black;
}

.comment-toggle img {
    margin-right: 5px;
}

.comments {
    display: none; /* Hidden by default */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 10px;
}

.comments {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.comments-container {
    margin-bottom: 10px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.created-date {
    margin-left: auto;
    text-align: right;
    font-size: 0.9em;
    color: #888;
}
.small-textarea {
    height: 50px; /* Adjust the height as needed */
    resize: none; /* Prevent resizing if desired */
}

.private-view{
    text-align: center;
    font-size: xx-large;
    background-color: white;
    margin: auto;
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

.removebtn{
    color: black;
    background-color: red;
    margin: auto;
    border-radius: 25px;
}

@media only screen and (max-width: 640px) {

    .mobile {
    display: flex !important;
}

.desktop{
    display: none;
}

html{
    background-color: #3C9E51;
}
body{
    background-color: #3C9E51;
}
.groupDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.groupTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.groupCategory {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.groupDescription {
    font-size: 0.9rem;
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.deleteOption, .editOption {
        display: block;
        position: relative;
        margin: 10px auto;
        width: 90%;
        text-align: center;
}

.joinOption{
    margin: auto;
    border-radius: 25px;
    position: absolute;
    right: 50%;
    top: 20%;
}

.members{

    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 20px;
    border-radius: 25px;

}

.posts{
    background-color: #6FC081;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    align-content: center;

}



.image-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px;
    max-width: 600px;
    overflow: hidden;
    padding: 20px;
}

.created-date{
    font-size: 0.6em;
}

.small-textarea {
    height: 50px;
    width: 90%;
}


}