.groupLink {
    background-color: #3c9e51;
}

.mobile {
    display: none;
}

html{
    background-color: #3C9E51;
}

.behind{
    background-color: #3C9E51;
    height: 100%;
    width: 100%;
    height: calc(100dvh - 74px);
    padding: 20px;
    overflow-y: scroll;
}

.mainContainer{
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: #6FC081;
    border-radius: 25px;
    padding-bottom: 20px;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #3C9E51;
    border: none;
    color: white;
    padding: 10px;
}

.create{
    margin: auto;
    border-radius: 25px;
}

.group-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: left;
}

.list_items {
    color: #3C9E51;
    text-decoration: none;
}

.list_items h2 {
    font-size: 20px;
    margin: 0;
}

.list_items p {
    font-size: 14px;
    margin: 5px 0;
}



@media only screen and (max-width: 640px) {

    .list_items{
        font-size: 15px;
    }

    .mainContainer{
        width: 75%;
    }

    .behind{
        height: calc(100dvh - 54px);
    }
}