.appbar {
    padding: 0px 15px;
    height: 74px;
    background-color: #6FC081;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;  /* Ensure the app bar is above other elements */
    position: relative; /* Positioning context for dropdown */
}

.ftLogo {
    flex: 1;
}

.groupedPageLinks {
    justify-content: center;
    display: flex;
    align-items: inherit;
    height: 74px;
}

.mapLink, .feedLink {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: inherit;
    color: white;
    justify-content: center;
    border-radius: 10px;
}

.mapLink:hover, .feedLink:hover {
    background-color: #88cb97;
    cursor: pointer;
}

.mapLink:hover > *, .feedLink:hover > * {
    text-decoration: none;
}

.mapLink {
    /*background-color: #3C9E51; to be changed based on what the user selects*/
    border-radius: 10px;
}

.addLink {
    color: white;
    font-size: x-large;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0px 8px 0px 8px;
    border-radius: 20px;
    align-items: inherit;
}

.addLink:hover {
    background-color: #88cb97;
    border-radius: 20px;
    cursor: pointer;
}

.userLink {
    display: flex;
    gap: 6px;
    color: white;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
    position: relative; /* Positioning context for the dropdown */
}

.username-text:hover {
    text-decoration: underline;
}

.dropdown {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: wrap;
    text-overflow: ellipsis;
}

.dropdown-toggle::after {
    width: 8px;
    height: 4px;
}

.email-icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.email-icon:hover {
    opacity: 0.7; /* Add a hover effect if desired */
}
.notification-badge {
    position: absolute;
    top: 12px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 9px;
    font-weight: bold;
}
.username-text {
    color: white !important; /* Set the username text color to white */
    font-weight: bold; /* Optional: make the text bold */
}

.dropdown-menu {
    background-color: white !important;
    width: 400px !important; /* Increase width */
    max-height: 600px !important; /* Increase max height */
    overflow-y: auto !important; /* Add scroll if content exceeds max height */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    border-radius: 5px !important;
    padding: 10px !important; /* Padding for aesthetic look */
}


.custom-dropdown-width.show {
    align-content: normal;
    width: 300px; /* Adjust the width as needed */
    height: 200px;
    left: -200px;
    right: 0px;
    margin: 1px;
}


/* Ensure dropdown items are styled correctly */
.dropdown-item {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
    font-size: 15px !important; /* Increase font size */
    line-height: 1.5 !important; /* Adjust line height */
    border-bottom: 1px solid #ddd !important; /* Add border for separation */
}

.dropdown-item:hover {
    background-color: #f1f1f1 !important;
}

.mobile {
    display: none;
}

.leaflet-control-minimap {
    display: flex;
}

.map.styling {    
    height: calc(100dvh - 74px) !important;
}

@media only screen and (max-width: 640px) {
    .ftLogo {
        flex: 0;
    }

    .appbar, .groupedPageLinks {
        height: 54px;
    }

    .leaflet-control-minimap {
        display: none;
    }

    .leaflet-popup-content-wrapper {
        width: 300px;
        font-size: medium;
    }

    .map.styling {
        height: calc(100dvh - 107px) !important;
    }

    .desktop .groupedPageLinks {
        display: none;
    }

    .bottomBar {
        justify-content: center;
        gap: 10px;
    }

    .mobile {
        display: flex;
    }
}