@font-face {
    font-family: "Poppins-Regular";
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa; /* Light grey background */
}

.form-content {
    width: 100%;
    max-width: 500px;
    background: #ffffff; /* White background */
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 30px 40px;
    margin: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: #fff;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 20px;
}

.card-header h3 {
    margin: 0;
}

.card-body {
    padding: 2rem;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
}

.btn-dark {
    background-color: #343a40;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn-dark:hover {
    background-color: #23272b;
}

.alert {
    border-radius: 5px;
    margin-top: 20px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: inherit;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 20px;
}

.card-footer .small a {
    color: #343a40;
    text-decoration: none;
}

.card-footer .small a:hover {
    text-decoration: underline;
}