{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group_Nav</title>
    <link rel="stylesheet" href="{%  static  'css/base.css' %}">
    <link rel="stylesheet" href="{%  static  'css/group_nav.css' %}">
</head>
<body>
<div class="behind">
<div class="mainContainer">
{% if user.is_authenticated %}
<form action="{% url 'create_group' %}">
    <input class="create" type="submit" value="Create a New Group Here!" />
</form>
{% endif %}

<div class="group-cards">
    {% for x in allGroups %}
        <div class="card">
            <a class="list_items" href="{% url 'group' x.id %}">
                <h2>{{ x.name }}</h2>
                
            </a>
            <div class="dropdown-divider"></div>
        <p>{{ x.description }}</p>
        </div>
    {% endfor %}
</div>
</div>


</div>

</body>
</html>

{% endblock %}