{%load static%}
<head>
    <title>Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
</head>
  <div class="center">
	  <form method="post" class="card" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>
		{% for field in form %}
        <div class="form-group">
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
            </div>
		{% endfor %}
		<p>You can now <a href= "{% url 'home' %}">login</a> with your new password.</p>
		
		<br><hr>
		<br><p class="text-center">Forgot your password <a href="{%url 'password-reset'%}">Reset Password</a></p>
		
	</form>
</div>