{% load static %}
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class = "center">
<form method="POST" novalidate class="card">
	{% csrf_token %}
	<h2>Sign Up</h2>
		
	{% for field in user_form %}
	<div class="form-group">
	 	{{ field.label_tag }} {{ field }}
		{% if field.errors %}
		<small class="error">
			{% for error in field.errors %}
			{{ error }}
			{% endfor %}
		</small>
		{% endif %}
	</div>
	{% endfor %}
    {% for field in profile_form %}
        <div class="form-group">
	    
	 	{{ field.label_tag }} {{ field }}
		{% if field.errors %}
		<small class="error">
			{% for error in field.errors %}
			{{ error }}
			{% endfor %}
		</small>
		{% endif %}
	
        </div>
	{% endfor %}
	<br><input type="submit" value="Register" />
</form>
    </div>
</body>