{% extends 'index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static  'css/create.css'  %}">
    <title>Create Marker</title>
</head>
<body>
    <div class="creationContainer">
        <div class="createMarker">
            <div class="title">New Marker</div>
            <div class="dataContainer">
                <form method="post", action="{% url 'create_marker'%}", enctype="multipart/form-data" class="data">
                    {%csrf_token%}
                    {{form}}
                    {{marker_form}}
                        {%if species_form%}
                            <div id="species_form">
                                {{species_form}}
                            </div>
                        {%endif%}
                    <input type="submit" value="Create">
                </form>                 
                <div class="minimap">
                    {{minimap | safe}}
                </div>                 
            </div>
        </div>
        <div class="map">
            {{map | safe}}
        </div>
        {%if messages%}
            {%for message in messages%}
                <p class="message-{{message.tags}}">{{message}}</p>
            {%endfor%}
        {%endif%}

        {% if species_form %}
            <script src="{% static 'script/marker/create.js'%}"></script>
        {%endif%}
    </div>    
</body>
</html>
{% endblock %}
