<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{marker.title}}</title>
</head>
<body>
    {%for key,value in marker%}
        {%if key != 'image'%}
            <p><strong>{{key|upper}}</strong> : {{value}}</p>
        {%else%}
            <img src="{{value}}" height="100", width="100">
        {%endif%}
    {%endfor%}
    <p>Total Likes : {{total_likes}}</p>
    
    <a href="{% url 'edit_marker' marker_id=url_resolve%}"><button>Edit</button></a>

</body>
</html>