{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <title>Edit Profile</title>
        <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    </head>
    <div class="edit-profile-container">
        {% if user.is_authenticated %}
        <div class="profile-header text-center">
            <div class="profile-image-container">
                {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" alt="Profile Image" class="rounded-circle profile-image">
                {% else %}
                    <img src="{% static 'css/images/user_logo.png' %}" alt="Default Profile Image" class="rounded-circle profile-image" style="background: black;">
                {% endif %}
            </div>
            <h1>Edit Profile</h1>
        </div>
        <form id="profile_image_form" action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data" class="form-styling">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea id="bio" name="bio" class="form-control">{{ user_profile.bio }}</textarea>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" id="phone" name="phone" class="form-control" value="{{ user_profile.phone }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea id="address" name="address" class="form-control">{{ user_profile.home_address }}</textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="profile_image" class="form-label"></label>
                <input type="file" id="profile_image" name="profile_image" class="form-control" style="display: none;">
                <label for="profile_image" class="btn btn-secondary rounded pill" id="custom-file-upload">
                    Choose New Image
                </label>
            </div>
            

            <div class="text-center">
                <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
            </div>
        </form>
            <form action="{% url 'delete' %}" method="POST" class="text-center mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger rounded-pill" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
                    Delete Account
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}


