{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{%  static  'css/index.css'  %}">
</head>
<body>
    <div class="mapContainer">
        <div class="appbar desktop">
            <div class="logo">Foraging Tracker</div> <!--TODO: Add in logo img-->
            <div class="groupedPageLinks">
                <div class="mapLink">MAP</div>
                <div class="addLink">+</div>
                <div class="feedLink">FEED</div>
            </div>
            <div class="userLink">
                <div>username</div>
                {% comment %} <div>{{Username}}</div> {% endcomment %}
                {% comment %} <img> {% endcomment %}
            </div>
        </div>
        {{map | safe}}
        <div class="appbar mobile">
            <div class="mapLink">MAP</div>
            <div class="addLink">+</div>
            <div class="feedLink">FEED</div>
        </div>
    </div>
</body>
</html>