{% extends 'index.html' %}
{% block title %}Map{% endblock %}
{% block content %}
<style> 
    .mapLink {
        background-color: #3c9e51;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        font-size: 15px !important;
    }
</style>
    {% if messages %}
        <script>
            window.onload = function() {
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            }
        </script>
    {% endif %}
    <div class="map styling" style="display: flex; flex-direction: column; height: 100%;">
        {{ map.render | safe }}
    </div>
{% endblock %}