{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="{%  static  'css/user.css'  %}">
</head>
<body>
    {% comment %} This is temporary as we wait for appbar to be centralized {% endcomment %}
    <div class="mapContainer">
        <div class="appbar desktop">
            <div style="flex: 1;"><img src="/static/css/images/FT_logo.png" height="48" alt="Foraging Tracker Logo"></div>
            <div class="groupedPageLinks">
                <div class="mapLink">MAP</div>
                <div class="addLink">+</div>
                <div class="feedLink">FEED</div>
            </div>
            <div class="userLink">
                {{user}}
                <div><img src="/static/css/images/user_logo.png" width="20" height="20" alt="User Logo"></div>
            </div>            
        </div>
    </div>
    <div class="profileInfo">
        <div class="topContainer">
            <div class="topLeftContainer">
                <div>
                    <img src={{profilePhoto}} width="100" height="100" alt="User Icon">
                </div>
                <div class="userInfo">
                    <div class="username">{{user}}</div>
                    <div>Firstname Lastname</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies ante erat, in egestas arcu tincidunt eget. Quisque eu ipsum lacus. Donec sed accumsan libero.
                    </div>
                    <div class="userAssociations">
                        <div>Friends: 0</div>
                        <div>Groups: 0</div>
                    </div>
                </div>
            </div>
            <div>
                <img src="/static/css/images/settings_logo.png" width="20" height="20" alt="User Icon">
            </div>
        </div>
    </div>
    {% comment %} Temporary mock of how user feed may look. {% endcomment %}
    <div class="userFeed">
        <div class="tempPostTemplate"></div>
        <div class="tempPostTemplate"></div>
        <div class="tempPostTemplate"></div>
        <div class="tempPostTemplate"></div>
    </div>
</body>