{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{%  static  'css/base.css' %}">
        <link rel="stylesheet" href="{%  static  'css/user.css'  %}">
        <link rel="stylesheet" href="{% static 'css/feed.css' %}">
        <style>
            .wrapper {
                height: 100%;
                display: flex;
                background-size: cover;
                background-position: center;
                position:relative;
                background-repeat: no-repeat;
                {% if userModel.profile_image %} 
                    background-image: url('{{ userModel.profile_image.url }}');
                {% else %}
                    background-image: url('{% static "img/Default_Background.jpg" %}')
                {% endif %}
            }            
        </style>
    </head>
    <body>
        <div>
            <div class="pageContainer">        
                <div class="profileInfo">
                    <div class="topContainer">
                        <div>
                            <div class="topLeftContainer">
                                <div class="profilePhoto desktopForUser">
                                    <img class="rounded-circle" src={{profilePhoto}} width  ="100" height="100" alt="User Icon">
                                </div>
                                <div class="profilePhoto mobile">
                                    <img class="rounded-circle" src={{profilePhoto}} width="50" height="50" alt="User Icon">
                                </div>
                                <div class="userInfo">
                                    <div class="username">
                                        {% if userModel != None %}                                            
                                            {{userModel}}
                                            {% if userModel.rating > 9 %}
                                                {% with userModel.get_badge as badge %}
                                                    {% if badge == "Diamond" %}
                                                        <img src="{% static 'img/diamond-badge.png' %}" alt="Diamond Badge" class="badge-icon">
                                                    {% elif badge == "Platinum" %}
                                                        <img src="{% static 'img/platinum-badge.png' %}" alt="Platinum Badge" class="badge-icon">
                                                    {% elif badge == "Gold" %}
                                                        <img src="{% static 'img/gold-badge.png' %}" alt="Gold Badge" class="badge-icon">
                                                    {% elif badge == "Silver" %}
                                                        <img src="{% static 'img/silver-badge.png' %}" alt="Silver Badge" class="badge-icon">
                                                    {% elif badge == "Bronze" %}
                                                        <img src="{% static 'img/bronze-badge.png' %}" alt="Bronze Badge" class="badge-icon">
                                                    {% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        {% else %}
                                            User Does Not Exist
                                        {% endif %}
                                    </div>
                                    <div>{{userModel.first_name}} {{userModel.last_name}}</div>
                                
                                    <div>
                                            {% if not isPersonalAccount %}
                                                {% if is_friend %}
                                                    <form method="post" action="{% url 'remove_friend' user_id=user_to_add.id %}">
                                                    {% csrf_token %}
                                                    <button class="friend-button" type="submit"  >Unfriend</button>
                                                    </form>
                                                {% elif user_to_add.id in sent_friend_request_users %}
                                                    <form method="post" action="{% url 'cancel_friend_request' user_id=user_to_add.id %}">
                                                    {% csrf_token %}
                                                    <button class="friend-button" type="submit">cancel</button>
                                                    </form>
                                                {% elif this_user == received_friend_request.uid_receiver %} 
                                                    <form method="post" action="{% url 'accept_friend_request' user_id=user_to_add.id %}">
                                                    {% csrf_token %}
                                                    <button class="friend-button" type="submit">Accept</button>
                                                </form>
                                                {% else %}
                                                    <form method="post" action="{% url 'send_friend_request' user_id=user_to_add.id %}">
                                                        {% csrf_token %}
                                                        <button class="friend-button" type="submit">Add</button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                
                                    <div class="desktopForUser">
                                        {{userProfile.bio}}
                                    </div>
                                    <div class="desktopForUser userAssociations">
                                        <div>Friends: {{ friend_count }}</div>
                                        <div>Groups: 0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile userInfo">
                                <div>
                                    {{userProfile.bio}}
                                </div>
                                <div class="userAssociations">
                                    <div>Friends: {{ friend_count }}</div>
                                    <div>Groups: 0</div>
                                </div>
                            </div>
                        </div>
                        {% if isPersonalAccount %}                                            
                            <div>
                                <a height="100px" href="{% url 'edit_profile' %}"><img src="/static/css/images/settings_logo.png" width="20" height="20" alt="User Icon"></a>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                {% comment %} TODO: allow marker deletion/edit for personal account {% endcomment %}
                <div style="overflow-y: auto; height: 100%">
                    <div class="wrapper">
                        <div class="filterContainer">
                            <div class="filterIcon">
                                <a onclick="toggleFilters()"><img src="/static/css/images/filter_icon.png" width="30" height="30" alt="Filter Icon"></a>
                            </div>
                            <nav class="nav flex-column" id="filtersContainer">
                                <a class="nav-link dropdown-toggle userFilters" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter Content
                                </a>
                            <!-- added css styling inside the div so it didn't override main nav dropdown menu -->
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: auto !important;
                                min-width: 200px; /* Ensure a minimum width */
                                background-color: black !important;
                                color: floralwhite;">
                                    Species
                                    <div class="dropdown-divider"></div>
                                    <form method="get" class="filter-form">
                                        {% for species in species_list %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="species" value="{{ species.name }}" id="species{{ forloop.counter }}" {% if species.name in species_filter %}checked{% endif %}>
                                                <label class="form-check-label" for="species{{ forloop.counter }}">
                                                    {{ species.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                                        <a href="{% url 'feed' %}" class="btn btn-secondary">Clear Filters</a>
                                    </form>                
                                </div>
                                {%if isPersonalAccount%}                         
                                    <a class="nav-link userFilters" href="{% url 'create_marker' %}">Create New Marker</a> 
                                {%endif%}               
                            </nav>
                        </div>
                        {% if not markers %}
                            <div class="emptyUserFeedContainer">
                                <div class="emptyUserFeed">
                                    No markers to display.
                                </div>
                            </div>
                        {% else %}
                        <div class="container">
                            {% for marker in markers %}
                                <div class="image-container">
                                    <div class="owner-info">
                                        {% if marker.owner.profile_image %}
                                            <img src="{{ marker.owner.profile_image.url }}" alt="{{ marker.owner.username }}" class="profile-image">
                                        {% else %}
                                            <img src="{% static 'css/images/user_logo.png' %}" alt="Default Profile Image" class="profile-image" style="background-color: black !important;">
                                        {% endif %}
                                        <span class="owner-username"><a href="#">{{ marker.owner.username }}</a></span>
                                        <span class="created-date">{{ marker.created_date|date:"F d, Y" }}</span>
                                    </div>
                                    <img src="{{ marker.image.url }}" alt="{{ marker.title }}" class="marker-image">
                                    <div class="marker-details">
                                        <div class="marker-title">{{ marker.title }}</div>
                                        <!--<div class="marker-latlng">{{ marker.latitude }}, {{ marker.longitude }}</div>-->
                                        <div class="dropdown-divider"></div>
                                        <div class="marker-description">{{ marker.description }}</div>
                                        <!--<a href="{% url 'home' %}?marker_id={{ marker.id }}" class="btn btn-primary">View on Map</a>-->
                                            <div class="action-container">
                                            <button class="btn btn-primary like-button" data-id="{{ marker.id }}">
                                                Like (<span class="likes-count">{{ marker.like_marker_set.count }}</span>)
                                            </button>
                                            <div class="comment-toggle" onclick="toggleComments({{ marker.id }})">
                                                <img src="{% static 'img/comment-detail-solid-24.png' %}" height="30" width="30" alt="comment detail">
                                                {{ marker.comments.count }}
                                            </div>
                                        </div>
                                        <div id="comments-{{ marker.id }}" class="comments">
                                            <div class="comments-container">
                                                {% for comment in marker.comments.all %}
                                                    <div class="comment">
                                                        {% if comment.user.profile_image %}
                                                            <img src="{{ comment.user.profile_image.url }}" alt="{{ marker.owner.username }}" class="profile-image">
                                                        {% else %}
                                                            <img src="{% static 'css/images/user_logo.png' %}" alt="Default Profile Image" class="profile-image" style="background-color: black !important;">
                                                        {% endif %}
                                                        <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
                                                        <div class="created-date">{{ comment.created_date|date:"F d, Y" }}</div>
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                {% endfor %}
                                            </div>
                                            {% if user.is_authenticated %}
                                                <form method="POST" action="{% url 'add_comment' marker.id userModel.id %}">
                                                    {% csrf_token %}
                                                    {{ form.text|add_class:"small-textarea" }}
                                                    <button type="submit" class="btn btn-primary">Add Comment</button>
                                                </form>
                                            {% else %}
                                                <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <script>
                                document.querySelectorAll('.like-button').forEach(button => {
                                    button.addEventListener('click', function() {
                                        const markerId = this.getAttribute('data-id');
                                        fetch(`/like/${markerId}/`, {
                                            method: 'POST',
                                            headers: {
                                                'X-CSRFToken': '{{ csrf_token }}',
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({})
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.liked) {
                                                this.innerHTML = `Like (<span class="likes-count">${data.likes_count}</span>)`;
                                            } else {
                                                this.innerHTML = `Like (<span class="likes-count">${data.likes_count}</span>)`;
                                            }
                                        });
                                    });
                                });
                                function clearSearch() {
                                    window.location.href = "{% url 'feed' %}";
                                }                                
                                function toggleFilters() {
                                    const filtersContainer = document.getElementById(`filtersContainer`);
                                    if (filtersContainer.style.display === "none") {
                                        filtersContainer.style.display = "block";
                                    } else {
                                        filtersContainer.style.display = "none";
                                    }
                                }
                                function toggleComments(markerId) {
                                    const commentsDiv = document.getElementById(`comments-${markerId}`);
                                    console.log(commentsDiv)
                                    if (commentsDiv.style.display === "none") {
                                        commentsDiv.style.display = "block";
                                    } else {
                                        commentsDiv.style.display = "none";
                                    }
                                }
                            </script>
                        </div>                        
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}