{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>User Profile</title>
        <link rel="stylesheet" href="{%  static  'css/user.css'  %}">
    </head>
    <body>
        <div>
            <div class="pageContainer">        
                <div class="profileInfo">
                    <div class="topContainer">
                        <div>
                            <div class="topLeftContainer">
                                <div class="profilePhoto desktop">
                                    <img class="rounded-circle" src={{profilePhoto}} width="100" height="100" alt="User Icon">
                                </div>
                                <div class="profilePhoto mobile">
                                    <img src={{profilePhoto}} width="50" height="50" alt="User Icon">
                                </div>
                                <div class="userInfo">
                                    <div class="username">
                                        {% if userModel != None %}                                            
                                            {{userModel}}
                                        {% else %}
                                            Nonexistent User
                                        {% endif %}
                                    </div>
                                    <div>{{userModel.first_name}} {{userModel.last_name}}</div>
                                    <div class="desktop">
                                        {{userProfile.bio}}
                                    </div>
                                    <div class="desktop userAssociations">
                                        <div>Friends: 0</div>
                                        <div>Groups: 0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile userInfo">
                                <div>
                                    {{userProfile.bio}}
                                </div>
                                <div class="userAssociations">
                                    <div>Friends: 0</div>
                                    <div>Groups: 0</div>
                                </div>
                            </div>
                        </div>
                        {% if isPersonalAccount %}                                            
                            <div>
                                <a href="{% url 'edit_profile' %}"><img src="/static/css/images/settings_logo.png" width="20" height="20" alt="User Icon"></a>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                {% comment %} TODO: allow marker deletion/edit for personal account {% endcomment %}
                <div class="userFeed">
                    {% for marker in markers %}                    
                        <div class="tempPostTemplate"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}